<h1>{{ auto.marca }} <small>{{ auto.modelo }}</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/autos">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>


<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="auto.id" name="id" disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Modelo</label>
                <input type="text" class="form-control" placeholder="Modelo del auto" [(ngModel)]="auto.modelo" name="modelo" required>
            </div>

            <div class="form-group">
                <label>Capacidad</label>
                <input type="number" class="form-control" placeholder="Capacidad del auto" [(ngModel)]="auto.capacidad" name="capacidad" required>
            </div>

            <div class="form-group">
                <label>Marca</label>
                <input type="text" class="form-control" placeholder="Marca del auto" [(ngModel)]="auto.marca" name="marca" required>
            </div>

            <div class="form-group">
                <label>Placas</label>
                <input type="text" class="form-control" placeholder="Placas del auto" [(ngModel)]="auto.placas" name="placas" required>
            </div>

            <div class="form-group">
                <label>Color</label>
                <input type="text" class="form-control" placeholder="Color del auto" [(ngModel)]="auto.color" name="color" required>
            </div>

            <div class="form-group">
                <label>Caracteristicas</label>
                <input type="text" class="form-control" placeholder="Caracteristicas del auto" [(ngModel)]="auto.caracteristicas" name="caracteristicas" required>
            </div>

            <div class="form-group">
                <label>Monto</label>
                <input type="number" class="form-control" placeholder="Monto por renta del auto" [(ngModel)]="auto.monto" name="monto" required>
            </div>

            <div class="form-group">
                <label>Cantidad</label>
                <input type="number" class="form-control" placeholder="Autos en existencia" [(ngModel)]="auto.cantidad" name="cantidad" pattern="^[0-9]+" required>
            </div>

            <div class="form-group">
                <label>Imagen</label>
                <input type="text" class="form-control" placeholder="Imagen del auto" [(ngModel)]="auto.imagen" name="imagen" required>
            </div>

            <!-- <div class="form-group">
                <label>Estado</label>
                <br>

                <button *ngIf="auto.estado" (click)="auto.estado = false" class="btn btn-outline-success w-50" type="button">
                    Disponible
                </button>

                <button *ngIf="!auto.estado" (click)="auto.estado = true" class="btn btn-outline-danger w-50" type="button">
                    Ocupado
                </button>
            </div> -->


            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25" [disabled]="!f.valid">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>

        </form>

    </div>
</div>