<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">


            <form (ngSubmit)="onSubmit( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                    </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">Ingrese un e-mail válido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="email" [(ngModel)]="usuario.email" email placeholder="E-mail" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Por lo menos 6 caracteres</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" minlength="6" placeholder="Contraseña" required>
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">Este campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre" patern="[a-zA-Z]" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['apellido1'].errors" class="text-danger animated fadeIn">Este campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="apellido1" [(ngModel)]="usuario.apellido1" placeholder="Apellido Paterno" patern="/^(?!.* $)[a-z][a-z ]+$/" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['apellido2'].errors" class="text-danger animated fadeIn">Este campo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="apellido2" [(ngModel)]="usuario.apellido2" placeholder="Apellido Materno" patern="[a-zA-Z]" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['telefono'].errors" class="text-danger animated fadeIn">Ingrese un teléfono válido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="telefono" [(ngModel)]="usuario.telefono" pattern="[0-9]{10}" placeholder="Telefono" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['direccion'].errors" class="text-danger animated fadeIn">Es necesaria una dirección</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="direccion" [(ngModel)]="usuario.direccion" placeholder="Dirección" required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['licencia'].errors" class="text-danger animated fadeIn">Es necesaria una licencia</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="licencia" [(ngModel)]="usuario.licencia" placeholder="Licencia" required>

                    <span class="focus-input100"></span>
                </div>


                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit" [disabled]="!f.valid">
                            Crear cuenta
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>