<div class="row mb-5">
    <h1>Bienvenido <small>usuario.nombre</small></h1>
    <div class="col text-right">
        <button class="btn btn-outline-danger" (click)="salir()">
            Cerrar sesion
        </button>
    </div>
    <hr>

</div>
<hr>
<br>

<div class="col text-center">
    <button routerLink="/autos" class="btn btn-primary mt-5 mr-5">
        Gestionar autos
    </button>


    <button routerLink="/usuarios" class="btn btn-primary mt-5 mr-5 ml-5">
        Ver usuarios
    </button>

    <button routerLink="/catalogo" class="btn btn-primary mt-5 ml-5">
        Ver catalogo
    </button>
</div>

<!-- 
<app-autos></app-autos>
<app-usuarios></app-usuarios>
<app-catalogo></app-catalogo> -->

<br>