<div id="imp" class="m-5">
    <div>
        <img src="assets/images/ac.png" width="30%" height="30%" />
        <div class="ui-g-3 logo-adress" style="width: 23%;">
            AutoCenter, Orizaba, Ver. #1479<br> Teléfono(s): 7217269, 7221220
        </div>
        <h1 class="text-right">NOTA DE RESERVACION</h1>

    </div>

    <hr>

    <table class="table table-bordered text-center mb-4 border-darken-2">
        <thead class="thead-light">
            <tr>
                <th colspan="5">Datos del cliente</th>
            </tr>
            <tr>
                <th colspan="2">Cuenta</th>
                <th colspan="2">Cliente</th>
                <th>Licencia</th>
            </tr>
            <tr>
                <td colspan="2">charlyx497@hotmail.com</td>
                <td colspan="2">Carlos Alberto Zavala Morayda</td>
                <td>A-1D6F54</td>
            </tr>
            <tr>
                <th colspan="3">Dirección</th>
                <th colspan="2">Teléfono</th>
            </tr>
            <tr>
                <td colspan="3">U.H. Crom Andador 3 #5</td>
                <td colspan="2">272 784 7515</td>
            </tr>
            <tr>
                <th colspan="5">Datos del auto</th>
            </tr>
            <tr>
                <th>Placas</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Monto</th>
            </tr>
            <tr>
                <td>AF56-D8J6</td>
                <td>Aveo 2020</td>
                <td>Chevrolet</td>
                <td>Rojo Pasión</td>
                <td>$250</td>
            </tr>
            <tr>
                <th colspan="5">Datos de renta</th>
            </tr>
            <tr>
                <th colspan="2">Dias</th>
                <th colspan="3">Total</th>
            </tr>
            <tr>
                <td colspan="2">7</td>
                <td colspan="3">$1750</td>
            </tr>
        </thead>
    </table>
</div>

<div class="form-group text-center">
    <button type="submit" class="btn btn-primary w-25" (click)="imprimir()">
            Imprimir
        </button>
</div>

<style>
    @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Bree Serif', serif;
    }
</style>